{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}
    <!-- header -->
    <div class="container mt-4 mb-2">
            <div class="d-flex flex-row justify-content-between align-items-baseline gap-1">
                <div>
                    <h1>Hi, <strong>John</strong></h1>
                    <p>Let's make this day productive</p>
                </div>
                <div class="custom-icon">
                    <button type="button" class="btn rounded-5 p-0 m-0" data-bs-toggle="modal" data-bs-target="#changePicModal">
                        <img src="{% static 'Quiz/img/person_unknown_icon.png' %}" alt="person_unknown_icon">
                    </button>
                </div>
            </div>
    </div>
    <!-- statistics -->
    <div class="d-flex justify-content-center mt-4">
            <div id="statistics" class="d-flex flex-row justify-content-around  p-3 border rounded-4 shadow-lg" style="width: 90%;">
                <!-- points -->
                <a class="p-1 btn" href="{% url 'redeem' %}">
                    <div class="d-flex flex-row gap-3">
                        <div class="align-content-center">
                            <img src="{% static 'Quiz/img/points-96.png' %}" alt="points" style="height: 50px; width: 50px;">
                        </div>
                        <div class="">
                            <h3>Points</h3>
                            <h4>3644</h4>
                        </div>
                    </div>
                </a>
                <!-- border separator -->
                <div class="border-start border-end"></div> 
                <!-- Rewards -->
                <a class="p-1 btn" href="{% url 'redeem' %}">
                    <div class="d-flex flex-row gap-3">
                        <div class="align-content-center">
                            <img src="{% static 'Quiz/img/gift-box-64.png' %}" alt="points" style="height: 50px; width: 50px;">
                        </div>
                        <div class="">
                            <h3>Rewards</h3>
                            <h4>7</h4>
                        </div>
                    </div>
                </a>
            </div>
    </div>

    <!-- Let's play -->
    <div class="container mt-5 mb-5">
        <h1>Let's play</h1>

        <!-- play quiz -->
        <div class="d-flex flex-wrap justify-content-evenly gap-5">

            <a href="/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="/static/Quiz/img/quiz2-100.png" alt="quiz-100" style="height: 100px; width: 100px;">
                <h2>TODAY'S QUIZ</h2>
            </a>

            <a href="/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="/static/Quiz/img/quiz-100.png" alt="quiz-100" style="height: 100px; width: 100px;">
                <h2>SIMPLE QUIZ</h2>
            </a>

            <a href="/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="/static/Quiz/img/dev-quiz-100.png" alt="quiz-100" style="height: 100px; width: 100px;">
                <h2>DEV QUIZ</h2>
            </a>

            <a href="/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="/static/Quiz/img/quiz-red-100.png" alt="quiz-100" style="height: 100px; width: 100px;">
                <h2>HARD QUIZ</h2>
            </a>

            <!-- admin only privilege -->
            {% if admin %}
                <a href="/admin/Quiz/quiz/add/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                    <img src="/media/default/category/add.png" alt="basketball" style="height: 100px; width: 100px;">
                    <h2>ADD QUIZZES</h2>
                </a>

                <a href="/admin/Quiz/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                    <img src="/static/Quiz/img/delete-100.png" alt="basketball" style="height: 100px; width: 100px;">
                    <h2>DEL QUIZZES</h2>
                </a>
            {% endif %}
        </div>
    </div>

    <!-- Let's do other things -->
    <div class="container mt-5 mb-5">
        <h1>Let's do other things</h1>

        <!-- play quiz -->
        <div class="d-flex flex-wrap justify-content-evenly gap-5">

            <a href="{% url 'redeem' %}" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="{% static 'Quiz/img/gift-box-64.png' %}" alt="gift-box" style="height: 100px; width: 100px;">
                <h2>Redeem rewards</h2>
            </a>

            <a href="{% url 'redeem' %}" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="{% static 'Quiz/img/reward-100.png' %}" alt="gift-box" style="height: 100px; width: 100px;">
                <h2>View collected rewards</h2>
            </a>

            <a href="/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="{% static 'Quiz/img/person_unknown_icon.png' %}" alt="person_unknown_icon" style="height: 100px; width: 100px;">
                <h2>View profile</h2>
            </a>

            <a href="/quiz/" style="text-decoration: none; color: inherit;" class="p-4 custom-container  text-center shadow rounded-2">
                <img src="/static/Quiz/img/remove-user-100.png" alt="quiz-100" style="height: 100px; width: 100px;">
                <h2>Delete account</h2>
            </a>
        </div>
    </div>
{% endblock body %}
